@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {background-color: #121619;}


#headerIcon {width:5vw;vertical-align: middle;}
#header {vertical-align: middle;color: #35FF69;font-family: 'Lexend',sans-serif;font-weight:500;background-color: #121619;font-size: 1.5em;}
#fixedHeader {position: fixed;width:100vw;top:-2vh;height:12vh;}

.site {font-family: 'Poppins',sans-serif;font-weight: 400;text-align: left;color: #EFF7FF;}

.resources {font-family: 'Kanit',sans-serif;font-weight: 400;color: white;text-align: center;}

#fonts-container {display: flex;flex-direction: row;justify-content: center;}
.font-box {padding:1.5vmax;margin:0.5vmax;border:2px solid white;border-radius:10px;background-color: #6969B3;}

#lexend {font-family: 'Lexend',sans-serif;font-weight: 400;color: white;text-align: center;text-decoration: none;}
#kanit {font-family: 'Kanit',sans-serif;font-weight: 400;color: white;text-align: center;text-decoration: none;}
#poppins {font-family: 'Poppins',sans-serif;font-weight: 400;color: white;text-align: center;text-decoration: none;}